<Project Sdk="Microsoft.NET.Sdk">
    <PropertyGroup>
        <OutputType>${OUTPUT_TYPE}</OutputType>
        <TargetFrameworks>${TARGET_FRAMEWORKS}</TargetFrameworks>
    </PropertyGroup>
</Project>
