*

!.gitignore
!.gitkeep
!.editorconfig
!${PROJECT_NAME}.slnx
!${PROJECT_NAME}.slnx.DotSettings
!Directory.Build.props
!LICENSE
!README.md
!CHANGELOG.md
!SECURITY.md
!CONTRIBUTING.md

!*/
!/build/**
!/docs/**
!/projects/**
!/.idea/**
!/.github/**

/projects/**/*.DotSettings.user